﻿@using model_TeamOne;
@inject TooltipService _serviceTooltip;

@if (Conditions == Condition.Fail)
{
    <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Ошибка (не проведено)" MouseEnter="@(args => ShowTooltip(args) )" />
}
@if (Conditions == Condition.Done)
{
    <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Проведено" />
}
@if (Conditions == Condition.IsBusy)
{
    <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.ExtraSmall">
        <Template>W8</Template>
    </RadzenProgressBarCircular>
}

@code {
    [Parameter] public Condition Conditions { get; set; }
    [Parameter] public string Message { get; set; }

    private void ShowTooltip(ElementReference elementReference, TooltipOptions options = null) => _serviceTooltip.Open(elementReference, Message, options);
}
