﻿@page "/Market"
@using model_TeamOne.Model.DataBase.Exchange;
@using model_TeamOne.Model.DataBase;
@using uiwa_TeamOne.Services;
@using uiwa_TeamOne.Pages.Components;
@inject IServiceGet<Company> _serviceCompany;
@inject IServiceGet<Industry> _serviceIndustry;
@inject IServiceGet<Country> _serviceCountry;
@inject IServiceGet<Valute> _serviceValute;
@*@inject DialogService DialogService*@

<RadzenRow JustifyContent="JustifyContent.Left" AlignItems="AlignItems.Start" Gap="1rem">
    @if (_listCompany is null)
    {
        <IsWait />
    }
    else
    {
        <RadzenDataGrid AllowPaging="true" AllowSorting="true" PageSize="25" Data="@_listCompany" TItem="Company">
            <Columns>
                <RadzenDataGridColumn TItem="Company" Property="Name" Title="Имя">
                    <Template Context="data">
                        <RadzenLink Text="@($"{data.Title} | {data.Name}")" Path="@($"Company/{data.Id}")" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Company" Property="Delta" Title="Цена">
                    <Template Context="data">
                        @(_valute[data.ValuteId].Symbol) |
                        <CompanyPriceLable Company="@data" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Company" Property="CountryId" Title="Страна">
                    <Template Context="data">
                        @_country[data.CountryId].Name
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Company" Property="Industries" Title="Страна">
                    <Template Context="data">
                        @foreach (var idustry in data.Industries)
                        {
                            <RadzenBadge Variant="Variant.Outlined" BadgeStyle="BadgeStyle.Secondary">
                                @_industry[idustry].Name
                            </RadzenBadge>
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
</RadzenRow>

@code {
    private IEnumerable<Company> _listCompany;
    private Dictionary<Guid, Valute> _valute;
    private Dictionary<Guid, Country> _country;
    private Dictionary<Guid, Industry> _industry;

    protected override async Task OnInitializedAsync()
    {
        _listCompany = await _serviceCompany.Get();
        _listCompany = _listCompany.Where(s => s.IsValute == false);
        var valute = await _serviceValute.Get();
        _valute = valute.ToDictionary(s => s.Id, s => s);
        var country = await _serviceCountry.Get();
        _country = country.ToDictionary(s => s.Id, s => s);
        var industry = await _serviceIndustry.Get();
        _industry = industry.ToDictionary(s => s.Id, s => s);
    }
    private BadgeStyle GetBangeStyle(double? value)
    {
        if (value > 0 || value is null) return BadgeStyle.Success;
        return BadgeStyle.Danger;
    }
    //public async Task OpenCompanyBuy(Company company)
    //{
    //    await DialogService.OpenAsync<CompanyPage>($"Компания {company.Name}",
    //           new Dictionary<string, object>() { { "CompanyId", company.Id } },
    //           new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true });
    //}
}
