﻿@page "/Operations"
@using model_TeamOne.Model.DataBase.Exchange;
@using uiwa_TeamOne.Services;
@using uiwa_TeamOne.Services.Exchange;
@inject IServiceGet<Company> _serviceCompany;
@inject IServiceGet<Valute> _serviceValute;
@inject IServiceGet<PaymentOrder> _servicePayment;
@inject ServicePaymentOrderExport _servicePaymentExport;

<RadzenColumn>
    @if (_paymentOrder is null)
    {
        <uiwa_TeamOne.Pages.Components.IsWait />
    }
    else
    {
        <RadzenDataGrid @ref="_paymentOrderGrid" IsLoading="@_isLoading" Count="@_count" Data="@_paymentOrder" LoadData="@LoadData" FilterPopupRenderMode="PopupRenderMode.OnDemand" Density="Density.Compact"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="@_take" PagerHorizontalAlign="HorizontalAlign.Center"
                    TItem="PaymentOrder" RowRender="@RowRender" CellRender="@CellRender">
            <Columns>
                <RadzenDataGridColumn TItem="PaymentOrder" Property="CompanyId" Title="Компания">
                    <Template Context="data">
                        @_companys[data.CompanyId].Name
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PaymentOrder" Property="NumberId">
                    <Template Context="data">
                        @($"ПП № {data.NumberId}")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PaymentOrder" Property="TypeOperationString" Title="Операция" />
                <RadzenDataGridColumn TItem="PaymentOrder" Property="Sum" Title="Сумма (кол-во)" FormatString="{0:d}">
                    <Template Context="data">
                        @if (_companys[data.CompanyId].IsValute)
                        {
                            <p>@data.Sum.ToString("### ### ##0.##") @_valute[_companys[data.CompanyId].ValuteId].Symbol</p>
                        }
                        else
                        {
                            <p>@data.Sum.ToString("### ### ##0.##") @_valute[_companys[data.CompanyId].ValuteId].Symbol (@data.Count шт.)</p>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PaymentOrder" Property="DateHistory" Title="Дата операции" />
                <RadzenDataGridColumn TItem="PaymentOrder" Property="Condition" Title="Компания">
                    <Template Context="data">
                        @_companys[data.CompanyId].Name
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PaymentOrder" Property="Condition" Title="Состояние">
                    <Template Context="data">
                        <uiwa_TeamOne.Pages.Components.ConditionPaymentOrder Conditions=@data.Condition Message=@data.MessageError />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="PaymentOrder">
                    <Template Context="data">
                        <RadzenButton Click=@(() => _servicePaymentExport.Export(data.Id)) Icon="download" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }

</RadzenColumn>

@code {
    private IEnumerable<PaymentOrder> _paymentOrder;
    private Dictionary<Guid, Company> _companys;
    private Dictionary<Guid, Valute> _valute;
    private RadzenDataGrid<PaymentOrder> _paymentOrderGrid;
    private int _count;
    private bool _isLoading;
    private int _take = 15;

    protected override async Task OnInitializedAsync()
    {
        _count = await _servicePayment.GetCount();
        var companys = await _serviceCompany.Get();
        _companys = companys.ToDictionary(s => s.Id, s => s);
        var valute = await _serviceValute.Get();
        _valute = valute.ToDictionary(s => s.Id, s => s);
        await LoadData(new LoadDataArgs() { Skip = 0 });
    }
    private async Task LoadData(LoadDataArgs args)
    {
        _isLoading = true;
        _paymentOrder = await _servicePayment.Get(new Dictionary<string, object>() { { "skip", args.Skip }, { "take", _take } });
        _isLoading = false;
        StateHasChanged();
    }
    private void RowRender(RowRenderEventArgs<PaymentOrder> args)
    {
        //args.Attributes.Add("style", $"font-weight: {(args.Data.TypeOperation == TransactionOperation.Buy ? "bold" : "normal")};");
    }
    private void CellRender(DataGridCellRenderEventArgs<PaymentOrder> args)
    {
    }
}

