﻿@using model_TeamOne.Model.DataBase.Exchange;
@using model_TeamOne;
@inject DialogService _serviceDialog

<RadzenStack Orientation="Orientation.Vertical">
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
            <RadzenText TextStyle="TextStyle.Body1">@Companys.Title | @Companys.Name</RadzenText>
            <RadzenText TextStyle="TextStyle.Caption"> @Valutes.Symbol | <uiwa_TeamOne.Pages.Components.CompanyPriceLable Company="@Companys" /></RadzenText>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenText TextStyle="TextStyle.Overline">в 1 пакете @Companys.Package шт.</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline">стоимость пакета @($"{(Companys.Package * Companys.StockPrice.LastOrDefault().Price).ToString($"### ##0.00 {Valutes.Symbol}")}")</RadzenText>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenNumeric Min=@_min Max=@_max TValue="int" Change=@(args => ChangeCount(args)) />
            @if (_count > 0)
            {
                <RadzenText TextStyle="TextStyle.Body1">@($"{PaymentOrders.TypeOperationString} {PaymentOrders.Count} шт. за {PaymentOrders.Sum.ToString($"### ##0.00 {Valutes.Symbol}")}")</RadzenText>
            }
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenText TextStyle="TextStyle.Subtitle2">@($"Ваш баланс: {BalancesMy.Value.ToString($"### ##0.00 {Valutes.Symbol}")}")</RadzenText>
                <RadzenText TextStyle="TextStyle.Subtitle2">@($"Ваш баланс компании: {(BalanceCompany.SumSale).ToString($"### ### ### ##0.## {Valutes.Symbol}")} | {BalanceCompany.Value.ToString("### ### ### ##0 шт.")}")</RadzenText>
        </RadzenStack>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@((args) => _serviceDialog.Close(null))" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" Text="Отменить" />
        <RadzenButton Click="@((args) => _serviceDialog.Close(PaymentOrders))" Disabled=@IsDeal Text=@($"{PaymentOrders.TypeOperationString}") ButtonStyle="ButtonStyle.Success" />
    </RadzenStack>
</RadzenStack>


    @code {
    [Parameter] public Balance BalancesMy { get; set; }
    [Parameter] public Balance BalanceCompany { get; set; }
    [Parameter] public PaymentOrder PaymentOrders { get; set; }
    [Parameter] public Company Companys { get; set; }
    [Parameter] public Valute Valutes { get; set; }
    private int _count = 0;
    private int _package = 1;
    private int _min = 0;
    private int _max = 1;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        PaymentOrders.CompanyId = Companys.Id;
        _min = 1;
        if (PaymentOrders.TypeOperation == PaymentOperation.Buy)
        {
            _package = Companys.Package;
            _max = 999999;
        }
        if (PaymentOrders.TypeOperation == PaymentOperation.Sale)
        {
            _max = (int)BalanceCompany.Value;
        }
    }
    public void ChangeCount(int value)
    {
        _count = value;
        PaymentOrders.Count = _package * _count;
        PaymentOrders.Sum = PaymentOrders.Count * Companys.StockPrice.LastOrDefault().Price;
        StateHasChanged();
    }
    private bool IsDeal => 
    PaymentOrders.TypeOperation == PaymentOperation.Buy 
    ? (PaymentOrders.Sum == 0 || PaymentOrders.Sum > BalancesMy.Value)
    : (PaymentOrders.Count == 0 || PaymentOrders.Count > BalanceCompany.Value);

}
