﻿@using System.ComponentModel.DataAnnotations;
@using model_TeamOne.Model.DataBase;
@using model_TeamOne.Model.DataBase.Exchange;
@using uiwa_TeamOne.Components;
@using model_TeamOne;

@if (_isLoad)
{
    <uiwa_TeamOne.Pages.Components.IsWait />
}
else
{
    <RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
            <RadzenSelectBar @bind-Value=@_selectDateSlicer TValue="DateSlicer" Change="@ChangeDateSlicer">
                <Items>
                    @foreach (DateSlicer item in Enum.GetValues(typeof(DateSlicer)))
                    {
                        <RadzenSelectBarItem Text="@(item.GetAttribute<DisplayAttribute>().Name)" Value="@item" />
                    }
                </Items>
            </RadzenSelectBar>
        </RadzenStack>
        <RadzenChart>
            <RadzenLineSeries Stroke="var(--rz-info)" Data="@_listChartPrice" Title="@Valute.Symbol" CategoryProperty="PeriodString" ValueProperty="Price" RenderingOrder="1">
                <RadzenSeriesDataLabels Visible="true" />
                <RadzenSeriesTrendLine Stroke="var(--rz-danger)" Visible="true" LineType="LineType.Solid" />
                <RadzenSeriesValueLine Stroke="var(--rz-base-400)" Visible="true" Value=@(Company.StockPrice.LastOrDefault().Price) LineType="LineType.Dashed" />
            </RadzenLineSeries>
            @*<RadzenCategoryAxis Padding="20" />*@
            <RadzenValueAxis Formatter="@FormatAsPrice" Visible="false"/>
            <RadzenLegend Visible="false" />
        </RadzenChart>
    </RadzenStack>
}

@code {
    [Parameter] public Company Company { get; set; }
    [Parameter] public Valute Valute { get; set; }

    private List<CompanyStockPrice> _listChartPrice;
    private List<CompanyStockPrice> _listChartPriceLineCurrent;
    private DateSlicer _selectDateSlicer;
    private bool _isLoad;
    protected override async Task OnInitializedAsync()
    {
        _isLoad = true;
        _selectDateSlicer = DateSlicer.DayToMonth;
        await ChangeDateSlicer();
        _isLoad = false;
    }
    private async Task ChangeDateSlicer()
    {
        if (_selectDateSlicer == DateSlicer.DayToMonth)
        {
            _listChartPrice = Company.StockPrice
                                      .Where(s => s.DateHistory >= DateTime.Now.AddMonths(-1))
                                      .Select(s => new CompanyStockPrice()
                                          {
                                              DateHistory = s.DateHistory,
                                              Price = s.Price,
                                              PeriodFormat = "dd.MM.yy"
                                          })
                                      .ToList();
        }
        else if (_selectDateSlicer == DateSlicer.MonthToYear)
        {
            _listChartPrice = Company.StockPrice
                                    .GroupBy(s => new { DateGroupping = new DateTime(s.DateHistory.Year, s.DateHistory.Month, 1) })
                                    .Select(s => new CompanyStockPrice()
                                        {
                                            DateHistory = s.Key.DateGroupping,
                                            Price = s.LastOrDefault().Price,
                                            PeriodFormat = "MMMM yyyy"
                                        })
                                    .OrderBy(s => s.DateHistory)
                                    .ToList();
        }

        _listChartPriceLineCurrent = _listChartPrice
                                  .Select(s => new CompanyStockPrice()
                                      {
                                          DateHistory = s.DateHistory,
                                          Price = Company.StockPrice.LastOrDefault().Price,
                                          PeriodFormat = s.PeriodFormat
                                      })
                                  .ToList();
    }
    private string FormatAsPrice(object value)
    {
        return ((double)value).ToString($"### ### ##0.## {Valute.Symbol}");
    }
}
