﻿@page "/CompanyStock/{Id}"
@using model_TeamOne.Model.DataBase.Exchange;
@using uiwa_TeamOne.Services;
@inject IServiceGet<CompanyStockPrice> _serviceCompanyStock;
@inject IServiceGet<Company> _serviceCompany;

<RadzenStack Orientation="Orientation.Vertical">

    <RadzenFieldset Text="Информация о компании">
        @if (_company is null)
        {
            <uiwa_TeamOne.Pages.Components.IsWait />
        }
        else
        {
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenImage Style="width: 70px; height: 70px; border-radius: 50%;" Path="@($"data:image/jpeg;base64,{model_TeamOne.Setting.DEFAULT_IMAGE_BASE64}")" />
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenText TextStyle="TextStyle.Overline">@_company.Title</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@_company.Name</b></RadzenText>
                </RadzenStack>
            </RadzenStack>
        }
    </RadzenFieldset>

    <RadzenFieldset Text="Таблица цен акций">
        @if (_listCompanyStockPrice is null)
        {
            <uiwa_TeamOne.Pages.Components.IsWait />
        }
        else
        {
            <RadzenDataGrid TItem="CompanyStockPrice" IsLoading="@_isLoading" Count="@_count" Data="@_listCompanyStockPrice"
                        Density="Density.Compact" AllowPaging="true" PageSize="@_take" PagerHorizontalAlign="HorizontalAlign.Center" LoadData="@LoadData">
                <Columns>
                    <RadzenDataGridColumn TItem="CompanyStockPrice" Property="DateHistory" Title="Дата" FormatString="{0:d}" />
                    <RadzenDataGridColumn TItem="CompanyStockPrice" Property="PriceOpen" Title="Первая">
                        <Template Context="data">
                            @($"{data.PriceOpen.ToString("### ### ##0.00")}")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CompanyStockPrice" Property="PriceClose" Title="Последняя">
                        <Template Context="data">
                            @($"{data.PriceClose.ToString("### ### ##0.00")}")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CompanyStockPrice" Property="PriceMax" Title="Максимум">
                        <Template Context="data">
                            @($"{data.PriceMax.ToString("### ### ##0.00")}")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="CompanyStockPrice" Property="PriceMin" Title="Минимум">
                        <Template Context="data">
                            @($"{data.PriceMin.ToString("### ### ##0.00")}")
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
    </RadzenFieldset>
</RadzenStack>

@code {
    [Parameter] public string Id { get; set; }

    private Company _company;
    private Valute _valute;
    private Country _country;
    private IEnumerable<CompanyStockPrice> _listCompanyStockPrice;
    private bool _isLoading;
    private int _take;
    private int _count;

    protected override async Task OnInitializedAsync()
    {
        _take = 30;
        _count = await _serviceCompanyStock.GetCount(new Dictionary<string, object>() { { "Id", Id } });
        _company = await _serviceCompany.GetById(Guid.Parse(Id));
        await LoadData(new LoadDataArgs() { Skip = 0 });
    }
    private async Task LoadData(LoadDataArgs args)
    {
        _isLoading = true;
        _listCompanyStockPrice = await _serviceCompanyStock.Get(new Dictionary<string, object>() { { "skip", args.Skip }, { "take", _take }, { "Id", Id } });
        _isLoading = false;
        StateHasChanged();
    }
}
