﻿@using model_TeamOne.Model.DataBase.Exchange;
@using model_TeamOne;
@using uiwa_TeamOne.Services;
@using uiwa_TeamOne.Services.Exchange;
@using Microsoft.AspNetCore.SignalR.Client;
@using uiwa_TeamOne.Services.Hubs;
@inject IServiceGet<Balance> _serviceBalance;
@inject IServiceGet<Company> _serviceCompany;
@inject IServiceGet<Valute> _serviceValute;
@inject IServiceGet<PaymentOrder> _servicePayment;
@inject IServicePost<PaymentOrder> _servicePaymentPost;
@inject ServicePaymentOrderExport _servicePaymentExport;
@inject ServicePaymentOrderCompany _servicePaymentCompany;
@inject DialogService _serviceDialog;
@inject NavigationManager _serviceNavigation;
@inject NotificationService _serviceNotification;
@inject HubNotification _hubNotification;



<RadzenStack Orientation="Orientation.Vertical">
    <RadzenCard>
        <RadzenRow>

            <RadzenColumn Size="4">
                @if (_balance is null)
                {
                    <uiwa_TeamOne.Pages.Components.IsWait />
                }
                else if (_balance.Value != 0)
                {
                    @($"Баланс компании: ")
                    @if (Company.IsValute == true)
                    {
                        @((_balance.Value).ToString($"### ### ### ##0.## {_valute[Company.ValuteId].Symbol}"))
                    }
                    else
                    {
                        @($"{(_balance.SumSale).ToString($"### ### ### ##0.## {_valute[Company.ValuteId].Symbol}")} | {_balance.Value.ToString("### ### ### ##0")} шт. | ")
                        <RadzenBadge Variant="Variant.Outlined" BadgeStyle="GetBangeStyle(_balance.SumDelta)">
                            @((_balance.SumSale - _balance.SumBuy).ToString("### ### ##0.##")) • (@((_balance.SumDelta).ToString("0.##%")))
                        </RadzenBadge>
                    }
                }
            </RadzenColumn>
            <RadzenColumn Size="4">
                @if (_balancePayment is null)
                {
                    <uiwa_TeamOne.Pages.Components.IsWait />
                }
                else
                {
                    @($"Ваш баланс: {_balancePayment.Value.ToString($"### ### ### ##0.## {_valute[Company.ValuteId].Symbol}")}")
                }
            </RadzenColumn>
            <RadzenColumn Size="4">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Click=@(() => OpenDialog(true))>Купить</RadzenButton>
                    @if (_balance is null)
                    {
                        <uiwa_TeamOne.Pages.Components.IsWait />
                    }
                    else
                    {
                        @if (_balance.Value > 0)
                        {
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Click=@(() => OpenDialog(false))>Продать</RadzenButton>
                        }
                    }
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenCard>
</RadzenStack>
@if (_paymentOrder is null)
{
    <uiwa_TeamOne.Pages.Components.IsWait />
}
else
{
    <RadzenDataGrid IsLoading="@_isLoading" Count="@_count" Data="@_paymentOrder" LoadData="@LoadData" FilterPopupRenderMode="PopupRenderMode.OnDemand" Density="Density.Compact"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="@_take" PagerHorizontalAlign="HorizontalAlign.Center"
                TItem="PaymentOrder" RowRender="@RowRender" CellRender="@CellRender">
        <Columns>
            <RadzenDataGridColumn TItem="PaymentOrder" Property="NumberId">
                <Template Context="data">
                    @($"ПП № {data.NumberId}")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="PaymentOrder" Property="TypeOperationString" Title="Операция" />
            <RadzenDataGridColumn TItem="PaymentOrder" Property="Sum" Title="Сумма (кол-во)" FormatString="{0:d}">
                <Template Context="data">
                    @if (Company.IsValute)
                    {
                        <p>@data.Sum.ToString("### ### ##0.##") @_valute[Company.ValuteId].Symbol</p>
                    }
                    else
                    {
                        <p>@data.Sum.ToString("### ### ##0.##") @_valute[Company.ValuteId].Symbol (@data.Count шт.)</p>
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="PaymentOrder" Property="DateHistory" Title="Дата операции" />
            <RadzenDataGridColumn TItem="PaymentOrder" Property="Condition" Title="Состояние">
                <Template Context="data">
                    <uiwa_TeamOne.Pages.Components.ConditionPaymentOrder Conditions=@data.Condition Message=@data.MessageError />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="PaymentOrder">
                <Template Context="data">
                    <RadzenButton Click=@(() => _servicePaymentExport.Export(data.Id)) Icon="download" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    private void RowRender(RowRenderEventArgs<PaymentOrder> args)
    {
        //args.Attributes.Add("style", $"font-weight: {(args.Data.TypeOperation == TransactionOperation.Buy ? "bold" : "normal")};");
    }
    private void CellRender(DataGridCellRenderEventArgs<PaymentOrder> args)
    {
    }
}
