﻿@using model_TeamOne.Model.DataBase.Exchange;
@using model_TeamOne;
@using uiwa_TeamOne.Pages.Components;
@using uiwa_TeamOne.Services;
@inject IServiceGet<Balance> _serviceBalance;
@inject IServicePost<PaymentOrder> _servicePayment;
@inject DialogService _serviceDialog
@if (_isLoad)
{
    <uiwa_TeamOne.Pages.Components.IsWait />
}
else
{
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenCard>
            <RadzenRow>
                <RadzenColumn Size="8">
                    @if (_balance is not null)
                    {
                        @($"Баланс: ")
                        @if (Company.IsValute == true)
                        {
                            @((_balance.Value).ToString($"### ### ### ##0.## {Valute.Symbol}"))
                        }
                        else
                        {
                            @($"{(_balance.SumSale).ToString($"### ### ### ##0.## {Valute.Symbol}")} | {_balance.Value.ToString("### ### ### ##0")} шт. | ")
                            <RadzenBadge Variant="Variant.Outlined" BadgeStyle="GetBangeStyle(_balance.SumDelta)">
                                @((_balance.SumSale - _balance.SumBuy).ToString("### ### ##0.##")) • (@((_balance.SumDelta).ToString("0.##%")))
                            </RadzenBadge>
                        }
                    }
                </RadzenColumn>
                <RadzenColumn Size="4">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                        <RadzenButton ButtonStyle="ButtonStyle.Success" Click=@(() => OpenDialog(true))>Купить</RadzenButton>
                        @if (_balance is not null && _balance.Value > 0)
                        {
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Click=@(() => OpenDialog(false))>Продать</RadzenButton>
                        }
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </RadzenStack>
}

@code {
    [Parameter] public Company Company { get; set; }
    [Parameter] public Valute Valute { get; set; }
    [Parameter] public Action<PaymentOrder> AddOrderAction { get; set; }
    private IEnumerable<Balance> _listBalance { get; set; }
    private Balance _balance;
    private Balance _balancePayment;
    private bool _isLoad;
    protected override async Task OnInitializedAsync()
    {
        _isLoad = true;
        _balance = await _serviceBalance.GetById(Company.Id);
        _listBalance = await _serviceBalance.Get();
        _balancePayment = _listBalance.FirstOrDefault(s => s.CompanyId != Company.Id && s.IsValuteAll == false && s.Company.ValuteId == Company.ValuteId);
        _isLoad = false;
    }
    private BadgeStyle GetBangeStyle(double value)
    {
        if (value > 0) return BadgeStyle.Success;
        return BadgeStyle.Danger;
    }
    public async Task OpenDialog(bool operation)
    {
        var paymentOrder = new PaymentOrder();
        paymentOrder.TypeOperation = operation == true ? PaymentOperation.Buy : PaymentOperation.Sale;
        PaymentOrder order = await _serviceDialog.OpenAsync<CompanyPaymentOrderCard>($"Операция {(operation ? "покупки" : "продажи")}",
                                       new Dictionary<string, object>() { { "Balances", _balancePayment }, { "PaymentOrders", paymentOrder }, { "Companys", Company }, { "Valutes", Valute } },
                                       new DialogOptions() { Resizable = false, Draggable = false });
        if (order is not null)
        {
            order.DateHistory = DateTime.Now;
            var result = await _servicePayment.Post(order);
            if (result is not null)
            {
                AddOrderAction(result);
            }
        }
    }
}
