﻿@using model_TeamOne.Model.DataBase.Exchange;
@using uiwa_TeamOne.Services;
@inject IServiceGet<Industry> _serviceIndustry;
@inject IServiceGet<CompanyQuarterFinance> _serviceCQF;

<RadzenCard>
    @if (_isLoad)
    {
        <uiwa_TeamOne.Pages.Components.IsWait />
    }
    else
    {
        <RadzenStack Orientation="Orientation.Vertical">
            <RadzenImage Style="width: 70px; height: 70px; border-radius: 50%;" Path="@($"data:image/jpeg;base64,{model_TeamOne.Setting.DEFAULT_IMAGE_BASE64}")" />
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText TextStyle="TextStyle.Overline">@Company.Title</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@Company.Name</b></RadzenText>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText TextStyle="TextStyle.Overline">Страна</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@(Country.Name)</b></RadzenText>
            </RadzenStack>
@*            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText TextStyle="TextStyle.Overline">Город</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1"><b>@(Company.Adress)</b></RadzenText>
            </RadzenStack>*@
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText TextStyle="TextStyle.Overline">Индустрия</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">
                    @(string.Join(", ", Company.Industries.Select(s => _listIndustry[s].Name).ToArray()))
                </RadzenText>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText TextStyle="TextStyle.Overline">Цена</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">@Valute.Symbol | <uiwa_TeamOne.Pages.Components.CompanyPriceLable Company="@Company" /></RadzenText>
            </RadzenStack>
            <RadzenStack>
                <RadzenLink Path=@($"CompanyStock/{Company.Id}") Text="Подробная информация о стоимости акций компании" />
            </RadzenStack>
@*            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenText TextStyle="TextStyle.Overline">Описание</RadzenText>
                <RadzenText TextStyle="TextStyle.Body1">@Company.Description</RadzenText>
            </RadzenStack>*@
@*            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenChart>
                    <RadzenPieSeries Data="@_listCompanyQuarterFinances" Title="Доля" CategoryProperty="QuarterString" ValueProperty="ValueInt">
                        <RadzenSeriesDataLabels Visible="true" />
                    </RadzenPieSeries>
                </RadzenChart>
            </RadzenStack>*@
        </RadzenStack>
    }
</RadzenCard>

@code {
    [Parameter] public Company Company { get; set; }
    [Parameter] public Country Country { get; set; }
    [Parameter] public Valute Valute { get; set; }

    private bool _isLoad;
    private IEnumerable<CompanyQuarterFinance> _listCompanyQuarterFinances;
    private Dictionary<Guid, Industry> _listIndustry;
    protected override async Task OnInitializedAsync()
    {
        _isLoad = true;
        var listIndustry = await _serviceIndustry.Get();
        _listIndustry = listIndustry.ToDictionary(s => s.Id, s => s);
        _listCompanyQuarterFinances = await _serviceCQF.Get(new Dictionary<string, object>() { { "Year", 2022 }, { "CompanyId", Company.Id } });
        _isLoad = false;
    }
}
