﻿@page "/Company/{Id}"
@using System.ComponentModel.DataAnnotations;
@using model_TeamOne.Model.DataBase.Exchange;
@using model_TeamOne.Model.DataBase;
@using uiwa_TeamOne.Components;
@using uiwa_TeamOne.Services;
@using uiwa_TeamOne.Pages.Components;
@inject IServiceGet<Company> _serviceCompany;
@inject IServiceGet<Country> _serviceCountry;
@inject IServiceGet<Valute> _serviceValute;

<RadzenRow JustifyContent="JustifyContent.Left" AlignItems="AlignItems.Start" Gap="1rem">
    <RadzenColumn>
        @if (_isLoad)
        {
            <uiwa_TeamOne.Pages.Components.IsWait />
        }
        else
        {
            <RadzenRow>
                <RadzenColumn Size="3">
                    <CompanyPageCard Company=@_company Country=@_country Valute=@_valute />
                    @*<CompanyPageCardBalance Company=@_company Valute=@_valute />*@
                </RadzenColumn>
                <RadzenColumn Size="9">
                    <RadzenStack Orientation="Orientation.Vertical">
                        <CompanyPageChart Company=@_company Valute=@_valute />
                        <CompanyPaymentOrderList Company=@_company />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        }
    </RadzenColumn>
</RadzenRow>

@code {
    [Parameter] public string Id { get; set; }

    private Company _company;
    private Country _country;
    private Valute _valute;
    private bool _isLoad;

    protected override async Task OnInitializedAsync()
    {
        _isLoad = true;
        _company = await _serviceCompany.GetById(Guid.Parse(Id));
        _country = await _serviceCountry.GetById(_company.CountryId);
        _valute = await _serviceValute.GetById(_company.ValuteId);
        _isLoad = false;
    }
}
