﻿@using model_TeamOne;
@model model_TeamOne.Model.PaymentOrderPrint;

<div class="main-container">
    <div class="small-text big-row">@Model.Id</div>
    <div class="big-text big-row text-underline">  Документ № @Model.NumberId от @DateTime.Now.ToShortDateString()  </div>
    <div class="row standart-text">Тип сделки: @Model.TypeOperationString</div>
    <div class="row standart-text">ФИО клиента: @Model.Client</div>
    <div class="row standart-text">Счёт клиента: @Model.ClientBank</div>
    @switch (Model.TypeOperation)
    {
        case PaymentOperation.Sale:
        case PaymentOperation.Buy:
            {
                <div class="row standart-text">Компания: @Model.Company</div>
                <div class="row standart-text">Счёт компании: @Model.CompanyBank</div>
                break;
            }
        case PaymentOperation.Withdraw:
            {
                <div class="row standart-text">Счёт для вывода: @Math.Abs(BitConverter.ToInt64(Guid.NewGuid().ToByteArray(), 0))</div>
                break;
            }

        default: break;
    }

    <div class="row standart-text">Сумма: @Model.Sum.ToString($"### ### ##0.00") @Model.Valute</div>
    @switch (Model.TypeOperation)
    {
        case PaymentOperation.Convertation:
            {
                <div class="row standart-text">Сумма: @Model.Sum2.ToString($"### ### ##0.00") @Model.Valute2</div>
                break;
            }
        case PaymentOperation.Sale:
        case PaymentOperation.Buy:
            {
                <div class="row standart-text">Количество акций: @Model.Count</div>
                break;
            }

        default: break;
    }

    <div class="row standart-text">Состояние: @Model.ConditionString</div>

    @if(Model.Condition == Condition.Fail)
    {
        <div class="row standart-text">Ошибка: @Model.MessageError</div>
    }

    <div class="row standart-text">Время проведения: @Model.DateOrder</div>
    
    <div class="img-container">
        <img src="data:image/png;base64,@Model.ImagesBase64["sign"]" />
    </div>
    
</div>

<style>
    .main-container {
        width: 100%;
        height: 100%;
    }

    .text-underline {
        border-bottom: 2px solid black;
    }

    .small-text {
        font-size: 12px;
    }

    .standart-text {
        font-size: 16px;
    }

    .big-text {
        font-size: 32px;
    }

    .row {
        padding-left: 1rem;
        padding-top: 0.5rem;
    }

    .big-row {
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .img-container{
        position: relative;
        display: inline-block;
    }

        .img-container img {
            position: absolute;
            top: -25rem;
            left: 0;
            z-index: 1;
        }
</style>