﻿@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <link rel="stylesheet" href=@($"_content/Radzen.Blazor/css/{context.User.Claims.Where(c => c.Type == "Theme").FirstOrDefault().Value.ToString()}-base.css")>
    </Authorized>
    <NotAuthorized>
        <link rel="stylesheet" href="_content/Radzen.Blazor/css/standard-base.css">
    </NotAuthorized>
</AuthorizeView>
<RadzenLayout>
    <RadzenHeader>
        <NavMenu />
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />