﻿@using model_TeamOne;
<RadzenRow>
    <RadzenColumn>
        <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
            <RadzenMenu>
                <RadzenMenuItem Text="@Setting.BASE_NAME_PROJECT" Icon="home" Path="" />
                <RadzenMenuItem Text="Торги" Icon="sync_alt" Path="Market" />
                <AuthorizeView>
                    <Authorized>
                        <RadzenMenuItem Text="Счёт" Icon="wallet" Path="Wallet" />
                        <uiwa_TeamOne.Pages.Account.AccountTopMenu />
                    </Authorized>
                </AuthorizeView>
            </RadzenMenu>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
