﻿@page "/"
@using System.Security.Claims;
@using uiwa_TeamOne.Services;
@using uiwa_TeamOne.Services.Exchange;
@inject ServiceTestCondition _servicePost;

<PageTitle>Главная страница</PageTitle>
<RadzenRow>
    <RadzenColumn>
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
            <AuthorizeView>
                <Authorized>
                    <RadzenFieldset Text="Кнопки управления">
                        <RadzenStack Orientation="Orientation.Vertical">
                            <RadzenButton Click="@LoadTest" IsBusy="@_isLoading" Text="Загрузить тестовые данные компаний" ButtonStyle="ButtonStyle.Info" />
                            <RadzenButton Click="@LoadTestUser" IsBusy="@_isLoading" Text="Загрузить тестовые данные покупок" ButtonStyle="ButtonStyle.Danger" />
                        </RadzenStack>
                    </RadzenFieldset>
                </Authorized>
                <NotAuthorized>
                    <RadzenFieldset Text="Форма входа">
                        <uiwa_TeamOne.Pages.Account.AuthorizeBody />
                    </RadzenFieldset>
                </NotAuthorized>
            </AuthorizeView>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>


@code {
    private bool _isLoading = false;

    private async Task LoadTest()
    {
        _isLoading = true;
        await _servicePost.Post();
        _isLoading = false;
    }
    private async Task LoadTestUser()
    {
        _isLoading = true;
        await _servicePost.PostUserBalance();
        _isLoading = false;
    }
}