﻿@using uiwa_TeamOne.Services.Account;
@inject IAccountService _accountService

<AuthorizeView>
    <Authorized>
        <RadzenMenuItem Text="@context.User.Identity.Name" Icon="perm_identity">
            <RadzenMenuItem Text="Операции" Icon="assignment" Path="Operations" />
            <RadzenMenuItem Text="Темы" Icon="dry">
                @foreach (string item in _theme)
                {
                    if (context.User.Claims.Where(c => c.Type == "Theme").FirstOrDefault().Value.ToString() == item)
                    {
                        <RadzenMenuItem Text=@item Click=@(() => ChangeTheme(item)) Icon="done" />
                    }
                    else
                    {
                        <RadzenMenuItem Text=@item Click=@(() => ChangeTheme(item)) />
                    }
                }
            </RadzenMenuItem>
            <RadzenMenuItem Text="Выход" Icon="disabled_by_default" Click="LogOut" />
        </RadzenMenuItem>
    </Authorized>
</AuthorizeView>

@code {
    private string[] _theme =
    {
        "default",
        "software",
        "humanistic",
        "standard",
        "material",
        "dark"
    };
    private async void LogOut()
    {
        await _accountService.LogoutAsync();
    }
    private async void ChangeTheme(string theme)
    {
        await _accountService.ChangeTheme(theme);
    }
}