﻿<RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Vertical">
    <RadzenSelectBar @bind-Value=@_isCard TValue="bool">
        <Items>
            <RadzenSelectBarItem Text="Вход" Value="true" />
            <RadzenSelectBarItem Text="Регистрация" Value="false" />
        </Items>
    </RadzenSelectBar>
    @if (_isCard)
    {
        <Login />
    }
    else
    {
        <Register />
    }
</RadzenStack>

@code {
    private bool _isCard = true;
}
