﻿@using model_TeamOne.Model.Auth;
@using uiwa_TeamOne.Services.Account;
@inject IAccountService _accountService

<RadzenTemplateForm TItem="AuthModel" Data=@_loginModel>
    <RadzenFieldset Text="Вход">
        <RadzenStack AlignItems="AlignItems.Center">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenLabel Text="Логин" Style="width: 50px;" />
                <RadzenTextBox @bind-Value=@_loginModel.Login Name="Login" Placeholder="Введите логин" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenLabel Text="Пароль" Style="width: 50px;" />
                <RadzenPassword @bind-Value=@_loginModel.Password Name="Password" Placeholder="Введите пароль" />
            </RadzenStack>
            <RadzenStack>
                <RadzenButton Text="Войти" ButtonStyle="ButtonStyle.Info" Style="width: 150px" ButtonType="ButtonType.Submit" Click=@Enter />
            </RadzenStack>
            <RadzenStack>
                <RadzenRequiredValidator Component="Login" Popup="@popup" />
                <RadzenRequiredValidator Component="Password" Popup="@popup" />
            </RadzenStack>
        </RadzenStack>
    </RadzenFieldset>
</RadzenTemplateForm>

@code {

    private AuthModel _loginModel;
    private bool popup;


    protected override async Task OnInitializedAsync()
    {
        _loginModel = new AuthModel();
        _loginModel.Login = "";
        _loginModel.Password = "";
    }

    private async void Enter()
    {
        var _request = await _accountService.LoginAsync(_loginModel);
    }
}
