﻿@using model_TeamOne.Model.Auth;
@using uiwa_TeamOne.Services.Account;
@inject IAccountService _accountService

<RadzenTemplateForm TItem="RegistrationModel" Data=@_registrationModel>
    <RadzenFieldset Text="Регистрация">
        <RadzenStack AlignItems="AlignItems.Center">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenLabel Text="Логин" Style="width: 50px;" />
                <RadzenTextBox @bind-Value=@_registrationModel.Login Name="Login" Placeholder="Введите логин" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenLabel Text="Пароль" Style="width: 50px;" />
                <RadzenPassword @bind-Value=@_registrationModel.Password Name="Password" Placeholder="Введите пароль" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenLabel Text="Пароль" Style="width: 50px;" />
                <RadzenPassword @bind-Value=@_registrationModel.ConfirmPassword Name="ConfirmPassword" Placeholder="Повторите пароль" />
            </RadzenStack>
            <RadzenStack>
                <RadzenButton Text="Регистрация" ButtonStyle="ButtonStyle.Info" Style="width: 150px" ButtonType="ButtonType.Submit" Click=@Enter />
            </RadzenStack>
            <RadzenStack>
                <RadzenRequiredValidator Component="Login" Popup="@popup" />
                <RadzenRequiredValidator Component="Password" Popup="@popup" />
                <RadzenRequiredValidator Component="ConfirmPassword" Popup="@popup" />
            </RadzenStack>
        </RadzenStack>
    </RadzenFieldset>
</RadzenTemplateForm>

@code {
    private RegistrationModel _registrationModel;
    private bool popup;

    protected override async Task OnInitializedAsync()
    {
        _registrationModel = new RegistrationModel();
        _registrationModel.Login = "";
        _registrationModel.Password = "";
        _registrationModel.ConfirmPassword = "";
    }
    private async void Enter()
    {
        var _request = await _accountService.RegisterAsync(_registrationModel);
    }
}
