﻿@using model_TeamOne.Model.DataBase.Exchange;
@using model_TeamOne;
@inject DialogService _serviceDialog

<RadzenStack Orientation="Orientation.Vertical">
    <RadzenStack Orientation="Orientation.Vertical">
        <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenText>Валюта 1</RadzenText>
            <RadzenSelectBar Size="ButtonSize.Small" @bind-Value=@_valuteSelect1Id TValue="Guid" Change=@(args => ChangeSelect1(args))>
                <Items>
                    @foreach (var item in Valutes)
                    {
                        <RadzenSelectBarItem Text=@item.Value.Name Value=@item.Key Disabled=@(item.Key == _valuteSelect2Id) />
                    }
                </Items>
            </RadzenSelectBar>
            <RadzenText>@($"Баланс: {Balances.FirstOrDefault(s => s.Company.ValuteId == _valuteSelect1Id).Value.ToString("### ### ##0.00")} {Valutes[_valuteSelect1Id].Symbol}")</RadzenText>
            </RadzenStack>
            @if (PaymentOrders.TypeOperation == PaymentOperation.Convertation)
        {
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText>Валюта 2</RadzenText>
                <RadzenSelectBar Size="ButtonSize.Small" @bind-Value=@_valuteSelect2Id TValue="Guid" Change=@(args => ChangeSelect2(args))>
                    <Items>
                        @foreach (var item in Valutes)
                        {
                            <RadzenSelectBarItem Text=@item.Value.Name Value=@item.Key Disabled=@(_valuteSelect1Id == item.Key) />
                        }
                    </Items>
                </RadzenSelectBar>
                <RadzenText>@($"Баланс: {Balances.FirstOrDefault(s => s.Company.ValuteId == _valuteSelect2Id).Value.ToString("### ### ##0.00")} {Valutes[_valuteSelect2Id].Symbol}")</RadzenText>
                </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText>@($"Курс {GetConvertationKoefString()}")</RadzenText>
                </RadzenStack>
        }
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenNumeric Min=@_min Max=@_max TValue="double" Change=@(args => ChangeCount(args)) />
        <RadzenText>@GetSum()</RadzenText>
    </RadzenStack>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem">
        <RadzenButton Click="@((args) => _serviceDialog.Close(null))" Variant="Variant.Flat" ButtonStyle="ButtonStyle.Light" Text="Отменить" />
        <RadzenButton Click="@((args) => _serviceDialog.Close(PaymentOrders))" Text=@PaymentOrders.TypeOperationString ButtonStyle="ButtonStyle.Success" />
    </RadzenStack>
</RadzenStack>

@code {
    [Parameter] public PaymentOrder PaymentOrders { get; set; }
    [Parameter] public IEnumerable<Balance> Balances { get; set; }
    [Parameter] public Dictionary<Guid, Valute> Valutes { get; set; }

    private Guid _valuteSelect1Id;
    private Guid _valuteSelect2Id;

    private decimal _min;
    private decimal _max;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _valuteSelect1Id = Valutes.FirstOrDefault().Value.Id;
        PaymentOrders.CompanyId = Balances.FirstOrDefault(s => s.Company.ValuteId == _valuteSelect1Id).CompanyId;
        if (PaymentOrders.TypeOperation == PaymentOperation.Convertation)
        {
            _valuteSelect2Id = Valutes.LastOrDefault().Value.Id;
            PaymentOrders.CompanyId2 = Balances.FirstOrDefault(s => s.Company.ValuteId == _valuteSelect2Id).CompanyId;
        }
        _min = 0;
        _max = 9999999;
    }
    private void ChangeSelect1(Guid id)
    {
        _valuteSelect1Id = id;
        if (PaymentOrders.TypeOperation == PaymentOperation.Convertation || PaymentOrders.TypeOperation == PaymentOperation.Withdraw)
        {
            _max = (decimal)Balances.FirstOrDefault(s => s.Company.ValuteId == _valuteSelect1Id).Value;
        }
        UpdatePaymentOrder();
    }
    private void ChangeSelect2(Guid id)
    {
        _valuteSelect2Id = id;
        UpdatePaymentOrder();
    }
    private void ChangeCount(double value)
    {
        if (PaymentOrders.TypeOperation == PaymentOperation.Convertation)
        {
            var koef = GetConvertationKoef();
            PaymentOrders.Sum = value;
            PaymentOrders.Sum2 = value * koef.Item2;
        }
        else
        {
            PaymentOrders.Sum = value;
        }
        UpdatePaymentOrder();
    }
    private void UpdatePaymentOrder()
    {
        PaymentOrders.CompanyId = Balances.FirstOrDefault(s => s.Company.ValuteId == _valuteSelect1Id).CompanyId;
        if (PaymentOrders.TypeOperation == PaymentOperation.Convertation)
        {
            PaymentOrders.CompanyId2 = Balances.FirstOrDefault(s => s.Company.ValuteId == _valuteSelect2Id).CompanyId;
        }
        StateHasChanged();
    }
    private string GetSum()
    {
        string result = string.Empty;
        if (PaymentOrders.TypeOperation == PaymentOperation.Convertation)
        {
            result = $"{PaymentOrders.Sum.ToString("### ### ##0.00")} {Valutes[_valuteSelect1Id].Symbol} -> {PaymentOrders.Sum2.ToString("### ### ##0.00")} {Valutes[_valuteSelect2Id].Symbol}";
        }
        else
        {
            result = $"{PaymentOrders.Sum.ToString("### ### ##0.00")} {Valutes[_valuteSelect1Id].Symbol}";
        }
        return result;
    }
    private string GetConvertationKoefString()
    {
        double koef1 = 1;
        double koef2 = 1;
        var valuteConvertDafault = Valutes.FirstOrDefault(s => s.Value.Name == "Рубль").Key;
        if (_valuteSelect1Id == valuteConvertDafault)
        {
            koef1 = Valutes[_valuteSelect2Id].KoefSell;
        }
        else if (_valuteSelect2Id == valuteConvertDafault)
        {
            koef2 = Valutes[_valuteSelect1Id].KoefSell;
        }
        else
        {
            koef2 = Valutes[_valuteSelect2Id].KoefSell / Valutes[_valuteSelect1Id].KoefSell;
        }

        return $"{koef1.ToString("##0.00")} {Valutes[_valuteSelect1Id].Symbol} -> {koef2.ToString("##0.00")} {Valutes[_valuteSelect2Id].Symbol}";
    }
    private (double, double) GetConvertationKoef()
    {
        double koef1 = 1;
        double koef2 = Valutes[_valuteSelect1Id].KoefSell / Valutes[_valuteSelect2Id].KoefSell;
        return (koef1, koef2);
    }
}
