﻿@page "/Wallet"

@using System.Globalization;
@using model_TeamOne.Model.DataBase.Exchange;
@using model_TeamOne;
@using uiwa_TeamOne.Services;
@using uiwa_TeamOne.Services.Hubs;
@inject IServicePost<PaymentOrder> _servicePaymentPost;
@inject IServiceGet<Balance> _serviceBrokerBalance;
@inject IServiceGet<Valute> _serviceValute;
@inject DialogService _serviceDialog;
@inject NotificationService _serviceNotification;
@inject HubNotification _hubNotification;

<RadzenRow JustifyContent="JustifyContent.Left" AlignItems="AlignItems.Start">
    <RadzenColumn Size="3">
        @if (_listBalance is null)
        {
            <uiwa_TeamOne.Pages.Components.IsWait />
        }
        else
        {
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenFieldset Text="Брокерский счёт">
                    <RadzenStack Orientation="Orientation.Vertical">
                        @foreach (var item in _listBalanceAll.Where(s => s.SumSale != 1))
                        {
                            <RadzenRow>
                                <RadzenColumn>
                                    <RadzenText TextStyle="TextStyle.H5">@item.SumSale.ToString($"### ### ##0.## {_listValute[item.Company.ValuteId].Symbol}")</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn>
                                    <RadzenBadge Variant="Variant.Outlined" BadgeStyle="GetBangeStyle(item.SumDelta)">
                                        @((item.SumSale - item.SumBuy).ToString("### ### ##0.##")) • (@((item.SumDelta).ToString("0.##%")))
                                    </RadzenBadge>
                                </RadzenColumn>
                            </RadzenRow>
                        }
                    </RadzenStack>
                </RadzenFieldset>
                <RadzenFieldset Text="Валютный счёт">
                    <RadzenStack Orientation="Orientation.Vertical">
                        @foreach (var item in _listBalanceValute)
                        {
                            <RadzenText TextStyle="TextStyle.H5">@item.Value.ToString($"### ### ##0.## {_listValute[item.Company.ValuteId].Symbol}")</RadzenText>
                        }
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <RadzenButton Variant="Variant.Outlined" Text="Пополнить" Icon="add_circle" ButtonStyle="ButtonStyle.Success" Click=@(() => OpenDialog(PaymentOperation.Transfer)) />
                            <RadzenButton Variant="Variant.Outlined" Text="Снять" Icon="circle" ButtonStyle="ButtonStyle.Warning" Click=@(() => OpenDialog(PaymentOperation.Withdraw)) />
                            <RadzenButton Variant="Variant.Outlined" Text="Обменять" Icon="change_circle" ButtonStyle="ButtonStyle.Info" Click=@(() => OpenDialog(PaymentOperation.Convertation)) />
                        </RadzenStack>
                    </RadzenStack>
                </RadzenFieldset>
            </RadzenStack>
        }
    </RadzenColumn>
    <RadzenColumn Size="9">
        @if (_listBalance is null)
        {
            <uiwa_TeamOne.Pages.Components.IsWait />
        }
        else
        {
            <RadzenDataGrid AllowPaging="true" PageSize="15" Data="@_listBalance" TItem="Balance">
                <Columns>
                    <RadzenDataGridColumn TItem="Balance" Property="CompanyId" Title="Компания">
                        <Template Context="data">
                            <RadzenLink Text="@($"{data.Company.Title} | {data.Company.Name}")" Path="@($"Company/{data.Company.Id}")" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Balance" Property="Value" Title="Сумма">
                        <Template Context="data">
                                @(_listValute[data.Company.ValuteId].Symbol) |
                                @if (data.Company.IsValute == true)
                                {
                                    @((data.Value).ToString("### ### ### ##0.##"))
                                }
                                else
                                {
                                    @((data.SumSale).ToString("### ### ### ##0.##"))
                                    <RadzenBadge Variant="Variant.Outlined" BadgeStyle="GetBangeStyle(data.SumDelta)">
                                        @((data.SumSale - data.SumBuy).ToString("### ### ##0.##")) • (@((data.SumDelta).ToString("0.##%")))
                                    </RadzenBadge>
                                }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Balance" Property="Company.Delta" Title="Цена">
                        <Template Context="data">
                            @if (data.Company.IsValute == false)
                            {
                                <uiwa_TeamOne.Pages.Components.CompanyPriceLable Company="@data.Company" />
                            }
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
    </RadzenColumn>
</RadzenRow>

@code {
    private IEnumerable<Balance> _listBalance;
    private IEnumerable<Balance> _listBalanceAll;
    private IEnumerable<Balance> _listBalanceValute;
    private Dictionary<Guid, Valute> _listValute;

    protected override async Task OnInitializedAsync()
    {
        var listValute = await _serviceValute.Get();
        _listValute = listValute.ToDictionary(s => s.Id, s => s);
        await UpdateBalance();
        await _hubNotification.Start(UpdateBalanceElement);
    }
    private async Task UpdateBalance()
    {
        _listBalance = await _serviceBrokerBalance.Get();
        _listBalanceAll = _listBalance.Where(s => s.IsValuteAll == true);
        _listBalanceValute = _listBalance.Where(s => s.IsValuteAll == false && s.Company.IsValute == true);
        _listBalance = _listBalance.Where(s => s.IsValuteAll == false && s.Company.IsValute == false && s.SumSale != 0);
    }
    private async Task UpdateBalanceElement(Guid id, string message)
    {
        var number = BitConverter.ToInt32(id.ToByteArray(), 0);
        if (message == "Complite")
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = Setting.UI_NOTIFICATION_TITLE_DEFAULT,
                    Detail = $"ПП №{number} проведено: успешно",
                    Duration = Setting.UI_NOTIFICATION_DIRATION_DEFAULT
                });
        }
        else
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = Setting.UI_NOTIFICATION_TITLE_DEFAULT,
                    Detail = $"ПП №{number} не проведено: {message}",
                    Duration = Setting.UI_NOTIFICATION_DIRATION_DEFAULT
                });
        }
        await UpdateBalance();
        StateHasChanged();
    }
    private void ShowNotification(NotificationMessage message)
    {
        _serviceNotification.Notify(message);
    }
    private BadgeStyle GetBangeStyle(double value)
    {
        if (value > 0) return BadgeStyle.Success;
        return BadgeStyle.Danger;
    }
    public async Task OpenDialog(PaymentOperation operation)
    {
        var paymentOrder = new PaymentOrder();
        paymentOrder.TypeOperation = operation;
        PaymentOrder order = await _serviceDialog.OpenAsync<WalletCard>($"Операция {paymentOrder.TypeOperationString}",
                                       new Dictionary<string, object>() { { "PaymentOrders", paymentOrder }, { "Balances", _listBalanceValute }, { "Valutes", _listValute  } },
                                       new DialogOptions() { Resizable = false, Draggable = false });

        await _servicePaymentPost.Post(order);
    }
}
